body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
    
}

.container {
    margin: 0;
    
    display: flex;
    height: 100vh;
    width: 100vw;
    

}


.imageSide{
    
    width: 40%;
    background-image: url("pop.webp");
    
    display: flex;
    justify-content: center;
    background-size: cover;
    
    
    
}

#odinFace {
    
    height: 90%;
    
}

#bigText {
    font-size: 120px;
    font-family: 'FlamingoRegular';
    margin-left: 20px;
    color: whitesmoke;
}

.textBar {
    margin-top: 111px;
    height: 150px;
    
    background: rgba(3, 183, 243, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logInSide {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: -5px;
}

.credit {
    position: fixed;
    bottom: 10px;
    color: whitesmoke;
    
    
}

a {
    text-decoration: underline;
    color: whitesmoke;
}



a:hover {
    cursor: pointer;
}
.top, .middle, .bottom {
    
    width: 100vw;
    padding-left: 60px;
    margin-left: 0;
}

.top {
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgb(253, 249, 249);
    
    
}

p {
    font-size: 22px;
    font-weight: bolder;
}

#toptext {
    
    max-width: 700px;
}

.middle {
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.bottom {
    height: 30vh;
    background-color: rgb(253, 249, 249);
    display: flex;
    flex-direction: column;
    
    
}

#letsDo {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bolder;
}

input {
    width: 200px;

}

label {
    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: 500;
    
}



form {
    display: flex;
    
    flex-direction: row;
    
    
    
    
}

.input {
    display: flex;
    flex-direction: column;
    
    margin-top: 40px;
    margin-right: 80px;
}





#submitButton {
    margin-top: 50px;
    margin-right: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    background-color: pink;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#resetButton {
    margin-top: 260px;
    margin-left: -30px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    font-size: 12px;
    background: rgba(3, 183, 243, 0.3);
    color: black
}

input{
    
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

/* input:focus{
    outline: none;
    border: 2px solid pink
} */

input:invalid {
    outline: none;
    border: 2px solid rgba(3, 183, 243, 0.3);

}

input:valid {
    outline: none;
    border: 2px solid pink

}

#logIn {
    font-weight: bolder;
    color: pink;
    
}

.alreadyText {
    margin-top: 30px;
}

button:hover {
    cursor: pointer;
}


::placeholder {
    color: black;
    opacity: 0.8;
}

.rightFooter {
    position: fixed;
  right: 0;
  bottom: 0px;
  height: 25px;
  width: 60.3%;
  background-color: rgba(248, 171, 184, 0.877);
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}